# Env / secrets
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Prisma generated client
/src/generated

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
